# Environments
.env
.venv
venv/
venv_*/
venv.bak/
.env.local

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Mac
.DS_Store 